<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>Como o Repoex está funcionando para você?</strong>

    <span class="text-nowrap">
        Por favor entre em contato via 
        <a target="_blank" class="font-weight-bold link-dark" href="http://servicedesk.helibras.com.br:7070/">ServiceDesk</a>
    </span>
    caso qualquer problema com o App ou sugestão de melhorias.
</div>

@code {
}
