<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-auto ms-0 ps-0">
             <NavLink class="ms-0 ps-0" href="">
                <button class="btn btn-home">
                    <span class="oi oi-home icon"></span>
                </button>
            </NavLink>
        </div>
        <div class="col-auto ms-auto p-0">
            <LoginLogout/>
        </div>
    </div>
</div>

@code {

}
