@page "/exportacoes"
@inject IExportacaoService ExportacaoService
@attribute [Authorize(Roles = "Exportacao")]

<PageTitle>Exportação</PageTitle>

<div class="row">
    <h3 class="col-auto me-auto">Exportação</h3>
    @if (exportacoes != null)
    {
        <div class="col-auto"><ExportData Classe="Exportacao" Dados="@exportacoes" /></div>
    }
</div>

@if (exportacoes == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <PaginatedTable Classe="Exportacao" Dados="@exportacoes" LinhasPorPagina="50" />
}

@code {
    private List<Exportacao>? exportacoes;

    protected override async Task OnInitializedAsync()
    {
        exportacoes = await ExportacaoService.ObterExportacoes();
    }
}
